body{
    color: black;
    text-align: center;
    font-family: "Arial";
    
}

#cabecera{
    text-align: left;
    color: blue;
    border: 0.3px solid black;
    padding: 25px;
    margin-left: 25em;
    margin-right: 25em;
    margin-top: 0;
}